:root {
  --primary-blue: #3f72e9;
  --secondary-blue: #1a2335;
  --primary-green: #508c47;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

nav {
  background-color: var(--primary-blue);
  width: 100vw;
}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 40vw;
  height: 56px;
  margin: 0 auto;
  padding: 10px 0px;
}

nav div input {
  width: 507px;
  height: 40px;
  border: none;
  padding: 0px 10px;
}

nav div a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.become-seller {
  margin-right: 10px;
  text-wrap: nowrap;
}

.product-section {
  width: 100vw;
  position: relative;
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 25vw;
  width: 100vw;
  height: 330px;
  margin: 0 auto;
  padding: 40px 0px;
  border-bottom: 1px solid #f0f0f1;
}

.product-left {
  display: flex;
  gap: 30px;
  font-size: 14px;
}

.product-left img {
  width: 204px;
  height: 220px;
  padding-bottom: 40px;
  object-fit: contain;
}

.product-left-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.checkboxes > * {
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkboxes label {
  margin-left: 5px;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product-info a {
  text-wrap: nowrap;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

.product-info li {
  position: relative;
  left: 2em;
  padding-bottom: 5px;
}

.star-rating {
  padding: 2px 4px;
  background-color: var(--primary-green);
  color: #fff;
  border-radius: 4px;
}

.product-right {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4px;
}

.product-right p {
  font-size: 12px;
  font-weight: 400;
}

.product-right .price {
  font-size: 24px;
  font-weight: 700;
}

.product-right span {
  color: var(--primary-green);
  font-weight: 600;
}

.product-right span:nth-child(2) {
  margin-left: 6px;
}

.compare-div {
  transition: all 1s ease-out;
}

.compare-window {
  display: flex;
  width: max-content;
  min-width: 300px;
  justify-content: flex-end;
  height: 250px;
  background-color: #fff;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 10px;
  position: fixed;
  right: 90px;
  bottom: 4vh;
  visibility: hidden;
}

.compare-images-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: 200px;
  padding: 10px 10px;
}

.compare-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: relative;
  font-size: 12px;
  width: 160px;
}

.compare-images img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  position: relative;
  margin-top: -50px;
}

.compare-images button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  align-self: flex-end;
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #898989;
}

#remove-all {
  color: rgb(78, 73, 73);
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 180px;
  bottom: 23px;
  border: none;
  background-color: transparent;
}

.compare {
  width: 144px;
  padding: 10px 40px;
  background-color: var(--primary-blue);
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  font-size: 14px;
  position: fixed;
  right: 100px;
  bottom: 5vh;
}

.compare-div:hover .compare-window {
  visibility: visible;
}

#compare-count {
  background-color: #205dc0;
  padding: 3px 6px;
  font-size: 16px;
}

footer {
  background-color: var(--secondary-blue);
  color: #fff;
  width: 100vw;
}

.footer-top h6 {
  color: #878787;
  font-size: 12px;
  margin-bottom: 6px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  min-height: 284px;
  margin: 0 auto;
  border-bottom: 1px solid #474d5d;
}

.footer-left {
  display: flex;
  justify-content: center;
  align-items: space-between;
  margin: 40px auto;
  height: 158px;
  gap: 100px;
  width: 45vw;
}

.footer-left div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-left ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

.footer-right {
  display: flex;
  align-items: space-between;
  margin: 40px auto;
  min-height: 158px;
  gap: 80px;
  width: 40vw;
}

.footer-right div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-right p {
  font-size: 12px;
  font-weight: 500;
}

.footer-right div:first-child {
  border-left: 1px solid #474d5d;
  padding-left: 30px;
}

.footer-right span {
  color: #3d72e8;
}

.footer-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 85vw;
  background-color: #1a2335;
  margin: 0 auto;
  font-size: 14px;
  flex-wrap: wrap;
}

.footer-bottom div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-bottom div a {
  color: #fff;

  text-decoration: none;
}

.load-error {
  height: 63vh;
}

.error-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.error-items button {
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-blue);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .product-container {
    height: max-content;
  }

  .product-left {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-left: 30px;
  }

  .product-left-items img {
    width: 280px;
    height: 280px;
    object-fit: contain;
  }

  .product-left-items .checkboxes {
    flex-direction: row;
    gap: 30px;
  }

  .compare-window {
    width: 300px;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
    gap: 10px;
    z-index: 20;
    padding-bottom: 30px;
  }

  .compare-images-container {
    overflow-x: hidden;
    overflow-y: scroll;
    height: max-content;
  }

  .compare-images {
    width: 200px;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .compare-images button {
    top: 0px;
    right: 20px;
  }

  .compare {
    z-index: 21;
  }

  footer {
    min-height: 300px;
    gap: 10px;
  }

  .footer-left {
    gap: 10px;
    width: 90vw;
  }

  .footer-right {
    gap: 10px;
    width: 90vw;
  }
  .footer-right div:first-child {
    padding-left: 10px;
  }

  .load-error {
    width: 100%;
    height: 65vh;
  }

  .footer-bottom {
    width: 100vw;
  }
}

@media screen and (max-width: 600px) {
  nav div {
    width: 100vw;
    flex-direction: column;
    height: max-content;
  }

  nav div input {
    width: 90%;
    margin-bottom: 10px;
  }

  .become-seller {
    width: 50%;
    text-align: center;
  }

  .product-container {
    height: max-content;
    width: 90vw;
    flex-wrap: wrap;
  }

  .product-left {
    flex-direction: column;
    gap: 30px;
    margin-left: 0px;
  }

  .product-left-items {
    gap: 30px;
  }

  .product-left-items .checkboxes {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }

  .product-info a {
    font-size: 16px;
  }

  .product-left img {
    width: 70%;
    height: 70%;
    padding: 0;
    margin: 0;
    object-fit: contain;
  }

  .product-info {
    width: 100%;
  }

  .product-right {
    width: 100%;
    padding-left: 30px;
  }

  .compare-window {
    width: 300px;
    height: 600px;
    overflow-y: scroll;
    flex-direction: column;
    gap: 10px;
    z-index: 20;
    padding-bottom: 30px;
  }

  .compare-images-container {
    width: 100%;
    height: 500px;
    padding: 0px;
    overflow-y: scroll;
  }

  .compare-images {
    width: 100%;
    height: 200px;
    overflow-x: hidden;
  }

  .compare-images button {
    top: 0px;
    right: 50px;
  }

  .compare {
    z-index: 21;
  }

  footer {
    flex-direction: column;
    gap: 10px;
  }

  .footer-top {
    display: flex;
    height: max-content;
    gap: 10px;
  }

  .footer-top h6 {
    margin-bottom: 0px;
  }

  .footer-left {
    display: inline-block;
    margin-left: 20px;
    width: 50%;
    height: max-content;
  }

  .footer-left li:last-child {
    margin-bottom: 15px;
  }

  .footer-right {
    display: inline-block;
    padding-left: 10px;
    border-left: 1px solid #474d5d;
    width: 50%;
  }

  .footer-right div:first-child {
    padding-left: 0px;
    border-left: none;
    margin-bottom: 10px;
  }

  .footer-left h6 {
    margin-top: 20px;
  }

  .about {
    margin-top: 0px !important;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-direction: column;
    width: 90vw;
    flex-direction: column;
    gap: 10px;
    height: max-content;
    padding-top: 20px;
  }

  .footer-bottom div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
