:root {
  --primary-blue: #3f72e9;
  --secondary-blue: #1a2335;
  --primary-green: #508c47;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  background-color: var(--primary-blue);
  width: 100vw;
}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 40vw;
  height: 56px;
  margin: 0 auto;
  padding: 10px 0px;
}

nav div input {
  width: 507px;
  height: 40px;
  border: none;
  padding: 0px 10px;
}

nav div a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.become-seller {
  margin-right: 10px;
  text-wrap: nowrap;
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 25vw;
  width: 100vw;
  height: 330px;
  margin: 0 auto;
  padding: 40px 0px;
  border-bottom: 1px solid #f0f0f1;
}

.product-left {
  display: flex;
  gap: 30px;
  font-size: 14px;
}

.product-left img {
  width: 204px;
  height: 220px;
  padding-bottom: 40px;
  object-fit: contain;
}

.product-left-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.checkboxes > * {
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkboxes label {
  margin-left: 5px;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product-info a {
  text-wrap: nowrap;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

.product-info li {
  position: relative;
  left: 2em;
  padding-bottom: 5px;
}

.star-rating {
  padding: 2px 4px;
  background-color: var(--primary-green);
  color: #fff;
  border-radius: 4px;
}

.product-right {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4px;
}

.product-right p {
  font-size: 12px;
  font-weight: 400;
}

.product-right .price {
  font-size: 24px;
  font-weight: 700;
}

.product-right span {
  color: var(--primary-green);
  font-weight: 600;
}

.product-right span:nth-child(2) {
  margin-left: 6px;
}

footer {
  display: flex;
  justify-content: space-between;
  height: 284px;
  margin: 0 auto;
  background-color: var(--secondary-blue);
  color: #fff;
  width: 100vw;
}

footer h6 {
  color: #878787;
}

.footer-left {
  display: flex;
  justify-content: center;
  align-items: space-between;
  margin: 40px auto;
  height: 158px;
  gap: 100px;
  width: 45vw;
}

.footer-left div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-left ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

.footer-right {
  display: flex;
  align-items: space-between;
  margin: 40px auto;
  height: 158px;
  gap: 80px;
  width: 40vw;
}

.footer-right div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-right p {
  font-size: 12px;
  font-weight: 500;
}

.footer-right div:first-child {
  border-left: 1px solid #474d5d;
  padding-left: 30px;
}

.footer-right span {
  color: #3d72e8;
}

@media screen and (max-width: 1024px) {
  .product-container {
    height: max-content;
  }

  .product-left {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-left: 30px;
  }

  .product-left-items img {
    width: 280px;
    height: 280px;
    object-fit: contain;
  }

  .product-left-items .checkboxes {
    flex-direction: row;
    gap: 30px;
  }

  footer {
    height: 300px;
    gap: 10px;
  }

  .footer-left {
    gap: 10px;
    width: 90vw;
  }

  .footer-right {
    gap: 10px;
    width: 90vw;
  }
  .footer-right div:first-child {
    padding-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  nav div {
    width: 100vw;
    flex-direction: column;
    height: max-content;
  }

  nav div input {
    width: 90%;
    margin-bottom: 10px;
  }

  .become-seller {
    width: 50%;
    text-align: center;
  }

  .product-container {
    height: max-content;
    width: 90vw;
    flex-wrap: wrap;
  }

  .product-left {
    flex-direction: column;
    gap: 30px;
    margin-left: 0px;
  }

  .product-left-items {
    gap: 30px;
  }

  .product-left-items .checkboxes {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }

  .product-info a {
    font-size: 16px;
  }

  .product-left img {
    width: 70%;
    height: 70%;
    padding: 0;
    margin: 0;
    object-fit: contain;
  }

  .product-info {
    width: 100%;
  }

  .product-right {
    width: 100%;
    padding-left: 30px;
  }
  footer {
    flex-direction: column;
    height: max-content;
  }

  .footer-left {
    height: max-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 90vw;
  }

  .footer-right {
    height: max-content;
    flex-direction: column;
    gap: 30px;
    width: 90vw;
  }

  .footer-right div:first-child {
    border-left: none;
    border-top: 1px solid #474d5d;
    padding-top: 30px;
    padding-left: 0px;
  }
}
